{{#with main}}
<main class="main">

  <div class="row">
    <div class="card col-4 p-3 me-2 border-3">
      <img src='https://img.mensxp.com/media/content/2015/Sep/albert-einstein4-1442571735.jpg' class='card-img-top'
        alt='photo' />
      <div class="card-body">
        <h1 class="card-title display-5">{{name}}</h1>
        <hr>
        <p>Born on {{birthdate}} in {{birthplace}}</p>
        <p>Died on {{deathdate}} in {{deathplace}}</p>
        <p>Nationality: {{nationality}}</p>
        <p>Occupation: {{occupation}}</p>
        <p>Known for: {{#each known_for}}{{this}}{{#unless @last}},
          {{/unless}}{{/each}}</p>
      </div>
    </div>

    <div class="card col-7 p-3">
      <ul>
        {{#each education}}
        <li>{{degree}} in {{field}} from {{institution}} ({{year}})</li>
        {{/each}}
      </ul>
      <ul>
        {{#each notable_publications}}
        <li>"{{title}}" ({{year}}), {{publisher}}</li>
        {{/each}}
      </ul>
      <ul>
        {{#each partners}}
        <li>{{name}} - {{relationship}} ({{years}})</li>
        {{/each}}
      </ul>
      <ul>
        {{#each awards}}
        <li>{{title}} ({{year}}) - {{description}}</li>
        {{/each}}
      </ul>
      <ul>
        {{#each influences}}
        <li>{{this}}</li>
        {{/each}}
      </ul>
      <ul>
        {{#each influenced}}
        <li>{{this}}</li>
        {{/each}}
      </ul>
      <ul>
        {{#each quotes}}
        <li>{{this}}</li>
        {{/each}}
      </ul>
      <ul>
        {{#each major_discoveries}}
        <li>{{title}} ({{year}}) - {{description}}</li>
        {{/each}}
      </ul>
      <br>
      <hr>
      <p>{{contributions.description}} ({{contributions.year}}) - {{contributions.field}}</p>
    </div>
  </div>
</main>
{{/with}}