<div class="card my-4">
    <div class="card-body">
        <div class="card">
            <div class="card-body">
                {{#with title}}
                <span class="span-block fw-medium">{{userName}}</span>
                <br>
                <span class="span-block mb-1">{{caption}}</span>
                <br>
                <div class="mt-3"><span>{{date}}</span></div>
                {{/with}}
            </div>
        </div>

        {{#with reviewBody}}
        <div class="card mb-4">
            <div class="card-body">
                <p class="span-block mb-3">{{seller.title}}: {{seller.value}}</p>
                <p>{{rating.title}}: {{rating.value}}</p>
                <p class="mt-3">{{text.[0]}}</p>
                <p class="">{{text.[1]}}</p>

                <div class="mb-3">
                    <span class="span-block fw-medium">{{advantages.title}}:</span>
                    <br>
                    <span>{{advantages.text}}</span>
                </div>

                <div class="mb-3">
                    <span class="span-block fw-medium">{{disadvantages.title}}:</span>
                    <br>
                    <span>{{disadvantages.text}}</span>
                </div>

                <div>
                    {{#each images}}
                    <img class="img-fluid rounded" src="{{this}}" alt="photo">
                    {{/each}}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-1"></div>
            <div class="col-11">
                {{#each coments}}
                <div class="card mb-3">
                    <div class="card-body">
                        <span class="span-block fw-medium">{{userName}}</span>
                        <br>
                        <small class="small-block mb-2 pt-1">{{date}}</small>
                        <p class="mb-0">{{text}}</p>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        {{/with}}
    </div>
</div>